:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background-color: lightblue;
  font-family: Poppins, sans-serif;
}

@media (max-width: 575px) {
  .card {
    max-width: 90%;
    margin: 0 auto;
  }
}

@media (min-width: 800px) {
  .container {
    width: 800px;
  }
}
