$primary: #fe6b2a;
$secondary: #35353a;
$dark: #000;
$body-bg: #0c0c0e;
$body-color: #fff;

::ng-deep body {
  background-color: $body-bg;
  color: $body-color;
}

.navbar-sticky {
  opacity: 0.9;
  transition: all 0.5s ease-in-out;
}

.text-primary-s {
  color: $primary !important;
}

.text-secondary-s {
  color: $secondary !important;
}

.btn-primary-s, .bg-primary-s {
  background-color: $primary;
}

.form-control {

  &::placeholder {
    color: rgba(white, 0.5);
  }

  &:focus {
    border-color: $primary;
    box-shadow: 0 0 0 0.2rem rgba($primary, 0.25);
  }
}

.bg-secondary-s {
  background-color: $secondary !important;

  &:active {
    background-color: $secondary !important;
  }
}

.xl-text {
  font-size: 65px;
}

.header {
  background-size: cover;
  min-height: 600px;
}

.vertical-decoration {
  top: 12%;
  width: 24px;
}

.details .vertical-decoration {
  top: 0;
  left: 0;
  width: 24px;
}

.details-2 .vertical-decoration {
  top: 5%;
  right: 0;
  width: 24px;
}

.video-modal {
  .modal-body {
    max-width: 1150px;
    margin: 0 !important;
    padding: 0 !important;
  }
}

.project-modal {
  .modal-body {
    max-width: 1150px;
  }
}

.hr-heading {
  display: inline-block;
  width: 3.5rem;
  height: 0.125rem;
  margin-top: 0.625rem;
  border: none;
  background-color: $primary;
  opacity: 1;
}

.video-play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
  width: 32px;
  height: 44px;
  border-radius: 50%;
  display: block;
  box-sizing: content-box;
  padding: 1.125rem 1.25rem 1.125rem 1.75rem;
  cursor: pointer;

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
    transform: translate(-50%, -50%);
    width: 76px;
    height: 76px;
    border-radius: 50%;
    display: block;
    background: $primary;
    cursor: pointer;
    animation: pulse-border 1500ms ease-out infinite;
  }

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: block;
    background: $primary;
    cursor: pointer;
    transition: all 0.2s;
  }

  span {
    position: relative;
    display: block;
    z-index: 3;
    top: 6px;
    left: 4px;
    width: 0;
    height: 0;
    border-left: 26px solid white;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
  }
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }

  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

@media(max-width: 992px) {
  .xl-text {
    font-size: 50px;
  }

  .header {
    text-align: center;
    background-position: center center;
  }

  .video-points {
    padding: 0 !important;
    text-align: center;
  }
}
